@import "../../variables";

.menu {
    &__links {
        display: flex;
        flex-direction: column;
        margin-bottom: 38px;
    }

    &__link {
        font-family: $fontMedium;
        text-transform: uppercase;
        font-size: $fontSizeMenuItem;
        line-height: $lineHeightMenuItem;
        color: $whiteColor;
        transform: translateY(-1000px);
        transition-property: color, transform;
        transition-duration: 0.1s, 0.3s;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:hover {
            color: $mainAccentColor;
        }

        &.opened {
            transform: translateY(0);
        }
    }
}