@import '../../variables';

.list_item {
    display: flex;
    justify-content: space-between;
    font-family: $fontHelveticaRegular;

    &:not(:last-child) {
        margin-bottom: 14px;
        padding-bottom: 14px;
        border-bottom: 1px solid $errorGreyColor;
    }

    &__info {
        display: flex;
    }
}