@import '../../../variables';

.input_field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $fontSizeInput;
    line-height: $lineHeightInput;
    color: $darkGreyColor;

    &__value {
        width: 100%;
        position: relative;

        input {
            width: 100%;
            flex-grow: 1;
            padding: 8px 11px;
            box-sizing: border-box;
            border-radius: 3px;
            border: 1px solid $lightGreyColor;
            margin: 9px 0 15px;
        }

        input,
        input::placeholder {
            font-size: $fontSizeInput;
            line-height: $lineHeightInput;
            color: $greyBlueColor;
        }

        &.is_error {
            input {
                border: 1px solid $redColor;
                box-shadow: 0 3px 6px rgba(196, 24, 60, 0.1);
            }
        }
    }

    &__error {
        font-size: $fontSizeError;
        line-height: $lineHeightError;
        color: $redColor;
        position: absolute;
        left: 11px;
        bottom: 0;
        opacity: 0;
        transform: scale(0);
        transition: all 0.3s;

        &.active {
            transform: scale(1);
            opacity: 1;
        }
    }
}