@import '../../variables';

.order_item {
    &__advanced_options,
    &__btns {
        margin-top: 30px;
    }

    &__btns {
        .btn:not(:last-child) {
            margin-right: 15px;
        }
    }

    &__options {
        position: relative;
        display: flex;
        flex-direction: column;

        .selector:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    
    &__options_alert {
        position: absolute;
        bottom: -15px;
        font-family: $fontHelveticaRegular;
        font-size: $fontSizeMain;
        line-height: $lineHeightMain;
        color: $redColor;
        opacity: 0;
        transform: scale(0);
        transition: all 0.3s;

        &.active {
            opacity: 1;
            transform: scale(1);
        }
    }
}