@import "../../../_variables.scss";

@mixin btnColor ($color) {
    background: $color;

    &:hover,
    &:focus {
        background: darken($color, 10%);
        background-blend-mode: darken;
    }

    &:active {
        background: darken($color, 20%);
        background-blend-mode: darken;
    }
}

.btn {
    width: 110px;
    height: 29px;
    line-height: 29px;
    border:none;
    border-radius: 4px;
    color: $whiteColor;
    font-size: $fontSizeButton;
    cursor: pointer;
    @include btnColor($blueColor);

    &--request_error {
        width: 95px;
        margin-top: 35px;
    }

    &--admin_article_header {
        width: 95px;
    }

    &--red {
        @include btnColor($redColor);
    }

    &--green {
        @include btnColor($mainAccentColor);
    }

    &:disabled {
        background: $lightGreyColor;
        cursor: none;
    }
}