@font-face {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 400;
    src: url(../src/assets/fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 500;
    src: url(../src/assets/fonts/Roboto-Medium.ttf)
}

@font-face {
    font-family: "Helvetica Regular";
    font-style: normal;
    font-weight: 400;
    src: url(../src/assets/fonts/HelveticaRegular.ttf)
}

$fontRobotoRegular: "Roboto Regular", sans-serif;
$fontRobotoMedium: "Roboto Medium", sans-serif;
$fontHelveticaRegular: "Helvetica Regular", sans-serif;

$desctopSize: 1440px;
$desctopMinSize: 1024px;
$tabletSize: 768px;
$mobileSize: 320px;

$mainAccentColor: #0EC261;
$mainBlackColor: #121212;
$greyBlueColor: #3D5170;
$mainGreyColor: #5A6169;
$darkGreyColor: #495057;
$lighterGreyColor: #818EA3;
$lightGreyColor: #BECAD6;
$errorGreyColor: #CACEDB;
$backgroundAdminColor: #F5F6F8;
$whiteColor: #ffffff;
$blueColor: #007BFF;
$redColor: #C4183C;
$transparent: transparent;

$fontSizeMainHeading: 24px;
$fontSizeFormHeading: 18px;
$fontSizeInput: 11px;
$fontSizeLink: 11px;
$fontSizeButton: 12px;
$fontSizeError: 10px;
$fontSizeMain: 13px;
$fontSizeAccount: 15px;
$fontSizeFooter: 14px;
$fontSizeMenuHead: 16px;
$fontSizeErrorStatus: 75px;
$fontSizeErrorDesc: 50px;
$fontSizeErrorSuggestion: 20px;
$fontSizeAdminHeader: 29px;
$fontSizePagination: 15px;
$fontSizeOrderPrice: 24px;
$fontSizeCarName: 25px;
$fontSizeCarDesc: 14px;

$lineHeightMainHeading: 28px;
$lineHeightFormHeading: 20px;
$lineHeightInput: 13px;
$lineHeightLink: 12px;
$lineHeightButton: 13px;
$lineHeightError: 11px;
$lineHeightMain: 15px;
$lineHeightAccount: 17px;
$lineHeightFooter: 16px;
$lineHeightMenuHead: 18px;
$lineHeightErrorStatus: 88px;
$lineHeightErrorDesc: 57px;
$lineHeightErrorSuggestion: 23px;
$lineHeightAdminHeader: 33px;
$lineHeightPagination: 17px;
$lineHeightOrderPrice: 28px;
$lineHeightCarName: 28px;
$lineHeightCarDesc: 19px;
