@font-face {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 400;
    src: url(../src/assets/fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 500;
    src: url(../src/assets/fonts/Roboto-Medium.ttf)
}

@font-face {
    font-family: "Helvetica Regular";
    font-style: normal;
    font-weight: 400;
    src: url(../src/assets/fonts/HelveticaRegular.ttf)
}

$fontRobotoRegular: "Roboto Regular", sans-serif;
$fontRobotoMedium: "Roboto Medium", sans-serif;
$fontHelveticaRegular: "Helvetica Regular", sans-serif;

$desctopSize: 1440px;
$desctopMinSize: 1024px;
$tabletSize: 768px;
$mobileSize: 320px;

$mainAccentColor: #0EC261;
$mainBlackColor: #121212;
$greyBlueColor: #3D5170;
$mainGreyColor: #5A6169;
$darkGreyColor: #495057;
$lighterGreyColor: #818EA3;
$lightGreyColor: #BECAD6;
$errorGreyColor: #CACEDB;
$whiteColor: #ffffff;
$blueColor: #007BFF;
$redColor: #C4183C;

$fontSizeMainHeading: 24px;
$fontSizeFormHeading: 18px;
$fontSizeInput: 11px;
$fontSizeLink: 11px;
$fontSizeButton: 12px;
$fontSizeError: 10px;

$lineHeightMainHeading: 28px;
$lineHeightFormHeading: 20px;
$lineHeightInput: 13px;
$lineHeightLink: 12px;
$lineHeightButton: 13px;
$lineHeightError: 11px;
