@import '../../../variables';

.checkbox {
    input[type="checkbox"] {
        display: none;

        &:checked + label {
            color: $mainBlackColor;

            &::before {
                border: 1px solid $mainAccentColor;
                border-radius: 1px;
            }
        }
    }

    input[type="checkbox"] + label {
        font-family: $fontHelveticaRegular;
        position: relative;
        color: $lighterGreyColor;
        font-size: $fontSizeError;
        line-height: $lineHeightLink;
        cursor: pointer;

        &::before {
            content: "";
            width: 13px;
            height: 13px;
            position: absolute;
            top: 50%;
            left: -8px;
            transform: translate(-100%, -50%);
            transition: border 0.1s ease-in;
            border: 1px solid $lightGreyColor;
            border-radius: 1px;
            box-sizing: border-box;
        }

        span {
            position: absolute;
            left: -18px;
            top: 0;
        }
    }
}